<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="startseite" href="/startseite">
      <ion-icon name="home"></ion-icon>
      <ion-label>Startseite</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="flugsuche" href="/flugsuche">
      <ion-icon name="search"></ion-icon>
      <ion-label>Flugsuche</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
