<ion-header>
  <ion-toolbar>
    <ion-title>Flugsuche</ion-title>
  </ion-toolbar>
  <div class="header-background-container">
    <img src="./assets/worldmap.png" alt="Header Hintergrundbild" class="header-background" />
  </div>
</ion-header>

<ion-content class="startseite-content">
  <div class="background-container">
    <img src="./assets/Background.png" alt="Hintergrundbild" class="background-image" />
  </div>

  <div class="flight-card">
    <ion-item>
      <ion-input
        [(ngModel)]="departureQuery"
        (ionInput)="searchDepartureAirports(departureQuery || '')"
        (ionBlur)="clearDepartureAirportsDelayed()"
        placeholder="Flughafen suchen"
      ></ion-input>
      <ion-icon *ngIf="selectedDeparture" name="close" slot="end" (click)="clearDeparture()"></ion-icon>
    </ion-item>

    <ion-list *ngIf="departureAirports.length > 0" class="autocomplete-list">
      <ion-item *ngFor="let airport of departureAirports" (click)="selectDepartureAirport(airport)">
        <ion-label>{{ airport.name }} ({{ airport.iata }})</ion-label>
      </ion-item>
    </ion-list>

    <ion-item *ngIf="selectedDeparture">
      <ion-label>Abflughafen: {{ selectedDeparture.name }} ({{ selectedDeparture.iata }})</ion-label>
      <ion-icon name="close" slot="end" (click)="clearDeparture()"></ion-icon>
    </ion-item>

    <div class="swap-button-inline">
      <button (click)="swapAirports()">
        <img src="../assets/pfeil.png" alt="Tauschen" />
      </button>
    </div>

    <ion-item>
      <ion-input
        [(ngModel)]="arrivalQuery"
        (ionInput)="searchArrivalAirports(arrivalQuery || '')"
        (ionBlur)="clearArrivalAirportsDelayed()"
        placeholder="Ziel-Flughafen suchen"
      ></ion-input>
      <ion-icon *ngIf="selectedArrival" name="close" slot="end" (click)="clearArrival()"></ion-icon>
    </ion-item>

    <ion-list *ngIf="arrivalAirports.length > 0" class="autocomplete-list">
      <ion-item *ngFor="let airport of arrivalAirports" (click)="selectArrivalAirport(airport)">
        <ion-label>{{ airport.name }} ({{ airport.iata }})</ion-label>
      </ion-item>
    </ion-list>

    <ion-item *ngIf="selectedArrival">
      <ion-label>Ziel-Flughafen: {{ selectedArrival.name }} ({{ selectedArrival.iata }})</ion-label>
      <ion-icon name="close" slot="end" (click)="clearArrival()"></ion-icon>
    </ion-item>

    <ion-label position="floating">Abflugdatum</ion-label>
    <ion-item>
      <ion-input
        [(ngModel)]="departureDate"
        (ionInput)="setDepartureDate($event)"
        type="date"
        placeholder=""
      ></ion-input>
    </ion-item>

    <ion-label position="floating">Rückflugdatum</ion-label>
    <ion-item>
      <ion-input
        [(ngModel)]="returnDate"
        (ionInput)="setReturnDate($event)"
        type="date"
        placeholder=""
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Passagiere</ion-label>
      <ion-input
        [(ngModel)]="passengers"
        type="number"
        min="1"
        max="10"
        readonly
      ></ion-input>
      <ion-buttons slot="end">
        <ion-button (click)="decreasePassengers()">-</ion-button>
        <ion-button (click)="increasePassengers()">+</ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item *ngIf="errorMessage" color="danger">
      <ion-label>{{ errorMessage }}</ion-label>
    </ion-item>

    <ion-button expand="block" color="primary" class="search-button" [routerLink]="['/flugsuche']">
      Flugsuche
    </ion-button>
  </div>
</ion-content>
<app-footer></app-footer>>
