<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Flugsuche</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Map oben -->
  <div class="map-container">
    <ion-img src="./assets/map.png"></ion-img>
  </div>

  <!-- Hintergrundbild hinter der Card -->
  <div class="background-container">
    <img src="./assets/Background.png" alt="Hintergrundbild" class="background-image" />
  </div>

  <div class="flight-card">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Flugsuche</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <!-- Hier bleibt die Card leer -->
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/startseite">Startseite</ion-button>
    </ion-buttons>
    <ion-title>Flugsuche</ion-title>
  </ion-toolbar>
</ion-footer>
